body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background: #004080;
    color: white;
    padding: 20px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: large;
    border-left: 5px solid white;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 50px;
    background: #fffffff3;
    margin: 20px auto;
    width: 100%;
    box-shadow: 0 0 10px rgba(73, 4, 222, 0.1);
    border-radius: 10px;
    border-left: 5px solid #004080;
}
#activities {
    background: white;
    border-left: 5px solid #004080;
    padding: 40px;
    text-align: center;
}

#activities h2 {
    color: #004080;
}

#activities ul {
    list-style-type:circle;
    padding-left: 20px;
}
 #contact{
font-style: italic;
 }
footer {
    background: #004080;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
